@model BugTracker.Models.Projects
@{
    ViewBag.Title = "Add Projects";
}

<h2>Add Projects</h2>

<form action="@Url.Action("CreateProject")" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-5">
            @Html.LabelFor(model => model.ProjectName)
        </div>
        <div class="col-md-7">
            @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <input type="submit" value="Submit" class="btn btn-sm btn-primary" />
    </div>

</form>
