@using Microsoft.AspNet.Identity    
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bug Tracker</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/morris.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/simplify.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    
    <link href="~/Content/DataTables-1.10.9/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    
    @*<link href="~/Content/bootstrap-slider.css" rel="stylesheet" />*@
    
    
    <link href="~/Content/multi-select.css" rel="stylesheet" />

</head>

<body class="overflow-hidden">
    <div class="wrapper preload">
        <header class="top-nav">
            <div class="top-nav-inner">
                <div class="nav-header">
                    <button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleSM">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <ul class="nav-notification pull-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i></a>
                            <span class="badge badge-danger bounceIn">1</span>
                            <ul class="dropdown-menu dropdown-sm pull-right user-dropdown">
                                <li class="user-avatar">
                                    <div class="user-content">
                                        @*<h5 class="no-m-bottom">Jane Doe</h5>*@
                                        <div class="m-top-xs">
                                            @*<a href="profile.html" class="m-right-sm">Profile</a>
                                            <a href="signin.html">Log out</a>*@
                                            @Html.Partial("_LoginPartial")
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </li>   
                    </ul>

                    <a href="index.html" class="brand">
                        <i class="fa fa-database"></i><span class="brand-name">HEMA MITRA</span>
                    </a>
                </div>
                <div class="nav-container">
                    <button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleLG">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav-notification">
                        <li class="search-list">
                            <div class="search-input-wrapper">
                                <div class="search-input">
                                    
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="pull-right m-right-sm">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div><!-- ./top-nav-inner -->
        </header>
        <aside class="sidebar-menu fixed">
            <div class="sidebar-inner scrollable-sidebar">
                <div class="main-menu">
                    <ul class="accordion">
                        <li class="menu-header">
                            Main Menu
                        </li>
                        <li class="bg-palette1 active">
                            <a href="@Url.Action("Index", "Home")">
                                <span class="menu-content block">
                                    <span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
                                    <span class="text m-left-sm">Dashboard</span>
                                </span>
                                <span class="menu-content-hover block">
                                    Home
                                </span>
                            </a>
                        </li>
                        

                        @if (User.IsInRole("Developer") || User.IsInRole("ProjectManager") || User.IsInRole("Admin"))
                        {   
                        <li class="openable bg-palette2">
                            <a href="#">
                                <span class="menu-content block">
                                    <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
                                    <span class="text m-left-sm text-white">Projects</span>
                                    <span class="submenu-icon"></span>
                                </span>
                                <span class="menu-content-hover block">
                                    Projects
                                </span>
                            </a>
                            <ul class="submenu bg-palette3">
                                <li><a href="@Url.Action("AuthorizedIndex","Home")">
                                    <span class="submenu-label text-white">Assigned Projects</span></a></li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li><a href="@Url.Action("Index","Projects")">
                                    <span class="submenu-label text-white">All Projects
                                    </span></a></li>
                                <li><a href="@Url.Action("Create", "Projects")">
                                    <span class="submenu-label text-white">Create Project</span></a></li>
                                <li><a href="@Url.Action("EditProject","Admin")">
                                    <span class="submenu-label text-white">Edit Project
                                    </span></a></li>
                                <li>
                                    <a href="@Url.Action("ProjectList", "Admin")">
                                        <span class="submenu-label text-white">
                                            Project Users
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AdminIndex","Admin")">
                                        <span class="submenu-label text-white">
                                            Assign User Roles
                                        </span>
                                    </a>
                                </li>


                                }
                                
                                @if (User.IsInRole("ProjectManager"))
                                {
                                    <li>
                                        <a href="@Url.Action("ProjectList", "Admin")">
                                            <span class="submenu-label text-white">
                                                Project Users
                                            </span>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </li>
                            
                        
                        <li class="openable bg-palette4">
                            <a href="#">
                                <span class="menu-content block">
                                    <span class="menu-icon"><i class="block fa fa-tags fa-lg"></i></span>
                                    <span class="text m-left-sm text-white">Tickets</span>
                                    <span class="submenu-icon"></span>
                                </span>
                                <span class="menu-content-hover block">
                                    Tickets
                                </span>
                            </a>
                            <ul class="submenu bg-palette5">
                                
                                <li><a href="@Url.Action("Index","Tickets")"><span class="submenu-label text-white">All Tickets</span></a></li>

                                <li><a href="@Url.Action("Create","Tickets")"><span class="submenu-label text-white">Create Ticket</span></a></li>

                                @if (User.IsInRole("Admin"))
                                {

                                <li><a href="@Url.Action("Index","TicketPriorities")">
                                    <span class="submenu-label text-white">Ticket Priorities</span></a></li>
                                
                                <li><a href="@Url.Action("Index","TicketStatus")">
                                    <span class="submenu-label text-white">Ticket Status</span></a></li>
                                
                                <li><a href="@Url.Action("Index","TicketTypes")">
                                    <span class="submenu-label text-white">Ticket Types</span></a></li>
                                }
                                
                                @if (User.IsInRole("Developer"))
                                {
                                    <li><a href="@Url.Action("NotiIndex", "Tickets",
                                            new { userId = User.Identity.GetUserId()})">
                                    <span class="submenu-label text-white">Notifications</span></a></li>
                                }
                                
                                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                                {
                                    <li>
                                        <a href="@Url.Action("TicketProgress", "Tickets")">
                                            <span class="submenu-label text-white">View Graph</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        
                        }
                        
                        @if (User.IsInRole("Submitter"))
                        {
                            <li class="openable bg-palette4">
                                <a href="#">
                                    <span class="menu-content block">
                                        <span class="menu-icon"><i class="block fa fa-tags fa-lg"></i></span>
                                        <span class="text m-left-sm text-white">Tickets</span>
                                        <span class="submenu-icon"></span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        Tickets
                                    </span>
                                </a>
                                <ul class="submenu bg-palette5">
                                    <li><a href="@Url.Action("Index","Tickets")">
                                        <span class="submenu-label text-white">All Tickets</span></a></li>
                                    <li><a href="@Url.Action("Create","Tickets")">
                                        <span class="submenu-label text-white">Create Ticket</span></a></li>
                                </ul>
                            </li>
                        }

                        <li class="menu-header">
                            Others
                        </li>
                        
                        
                    </ul>
                </div>
               
            </div><!-- sidebar-inner -->
        </aside>

        <div class="main-container">
            <div class="padding-md">
                    @RenderBody()
            </div><!-- ./padding-md -->
        </div><!-- /main-container -->
        <footer class="footer">
            <span class="footer-brand">
                <strong class="text-danger">Hema</strong> Mitra
            </span>
            <p class="no-margin">
                &copy; 2015 <strong>Hema Mitra</strong>. ALL Rights Reserved.
            </p>
        </footer>
    </div><!-- /wrapper -->
    
    <!-- Delete Widget Confirmation -->
    

    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<!-- Jquery -->
    <script src="js/jquery-1.11.1.min.js"></script>

    <!-- Bootstrap -->
    <script src="bootstrap/js/bootstrap.min.js"></script>*@

    <!-- Flot -->
    @*<script src='/js/jquery.flot.min.js'></script>*@
    <!-- Slimscroll -->
    <script src='/js/jquery.slimscroll.min.js'></script>

    <!-- Morris -->
    <script src='/js/rapheal.min.js'></script>
    <script src='/js/morris.min.js'></script>
    <!-- Sparkline -->
    <script src='/js/sparkline.min.js'></script>
    
    <!-- Popup Overlay -->
    <script src='/js/jquery.popupoverlay.min.js'></script>
    <!-- Easy Pie Chart -->
    <script src='/js/jquery.easypiechart.min.js'></script>
    <!-- Owl Carousel -->
    <script src='/js/owl.carousel.min.js'></script>
    <!-- Modernizr -->
    <script src='/js/modernizr.min.js'></script>

    <!-- Simplify -->
    <script src="/js/simplify/simplify.js"></script>
    @*<script src="/js/simplify/simplify_dashboard.js"></script>*@
    
    <script src="/Scripts/jquery.multi-select.js"></script>

    @RenderSection("scripts", required: false)
    <script src="/Scripts/DataTables-1.10.9/media/js/jquery.dataTables.min.js"></script>
    <script src="/Scripts/DataTables-1.10.9/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    



    

</body>


</html>
