<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bug Tracker</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/simplify.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-slider.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />

</head>
<body class="overflow-hidden">
    
        <!--<header class="navbar front-end-navbar" data-spy="affix" data-offset-top="1">-->
            <header class="top-nav">
            <div class="container">
                <div class="navbar-header">
                    <i class="fa fa-bug fa-lg padding-tp1"></i>
                    
                    <button class="navbar-toggle pull-left sidebar-toggle" type="button" id="sidebarToggleSM">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <strong class="font-16"><span class="text-success">Hema</span>Mitra</strong>
                </div>


                @*<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                        <h3>
                            <strong>
                                <span class="text-success">Hema</span> Mitra
                            </strong>
                        </h3>

                    </nav>*@
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    @Html.Partial("_LoginPartial")
                </nav>
            </div>
        </header>

        <aside class="sidebar-menu fixed">
            <div class="sidebar-inner scrollable-sidebar">
                <div class="main-menu">
                    <ul class="accordion">
                        <li class="menu-header">
                            Main Menu
                        </li>
                        <li class="bg-palette1">
                            <a href="@Url.Action("AuthorizedIndex", "Home")">
                                <span class="menu-content block">
                                    <span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
                                    <span class="text-white m-left-sm">Dashboard</span>
                                </span>
                                <span class="menu-content-hover block">
                                    Home
                                </span>
                            </a>
                        </li>
                       


                        @if (Request.IsAuthenticated)
                        {
                            <li class="openable bg-palette2">
                                <a href="#">
                                    <span class="menu-content block">
                                        <span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
                                        <span class="text-white m-left-sm">Projects</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        Projects
                                    </span>
                                </a>
                            
                                <ul class="submenu bg-palette3">
                                    <li class="bg-palette3">
                                        <a href="@Url.Action("Index","Projects")">
                                            <span class="menu-content block">
                                                <span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
                                                <span class="text-white m-left-sm">All Projects</span>
                                            </span>
                                            <span class="menu-content-hover block">
                                                All projects
                                            </span>
                                        </a>
                                    </li>

                           @if(User.IsInRole("Admin"))
                           {
                            <li>
                                <a href="@Url.Action("EditProject","Admin")">
                                    <span class="menu-content block">
                                        <span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
                                        <span class="text-white m-left-sm">Edit Project</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        Edit Project
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ProjectList","Admin")">
                                    <span class="menu-content block">
                                        <span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
                                        <span class="text-white m-left-sm">Assign Users</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        Assign Users To Project
                                    </span>
                                </a>
                            </li>
                           }
                           @if(User.IsInRole("ProjectManager"))
                           { 
                            <li>
                                <a href="@Url.Action("ProjectList","Admin")">
                                <span class="menu-content block">       
                                <span class="menu-icon"><i class="block fa fa-desktop fa-lg"></i></span>
                                <span class="text-white m-left-sm">Assign Users</span>
                                </span>
                                <span class="menu-content-hover block">
                                Edit Project
                                </span>
                                </a>
                            </li>
                           }


                           </ul>
                          </li>
                       
                         }
                                    
                        @if (Request.IsAuthenticated)
                        {
                            <li class="openable bg-palette3">
                                @*<a href="@Url.Action("Index","Tickets")">-->*@
                                <a href="#">
                                    <span class="menu-content block">
                                        <span class="menu-icon"><i class="block fa fa-list fa-lg"></i></span>
                                        <span class="text-white m-left-sm">Tickets</span>

                                    </span>
                                    <span class="menu-content-hover block">
                                        Tickets
                                    </span>
                                </a>
                                <ul class="submenu bg-palette4">

                                    <li>
                                        <a href="@Url.Action("Index","Tickets")">
                                            <span class="menu-content block">
                                                <span class="menu-icon"><i class="block fa fa-tags fa-lg"></i></span>
                                                <span class="text-white m-left-sm">All Tickets</span>
                                            </span>
                                            <span class="menu-content-hover block">
                                                All Tickets
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Create","Tickets")">
                                            <span class="menu-content block">
                                                <span class="menu-icon"><i class="block fa fa-tags fa-lg"></i></span>
                                                <span class="text-white m-left-sm">Create Tickets</span>
                                            </span>
                                            <span class="menu-content-hover block">
                                                Create Tickets
                                            </span>
                                        </a>
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Index","TicketPriorities")">
                                                <span class="menu-content block">
                                                    <span class="menu-icon"><i class="block fa fa-tags fa-lg"></i></span>
                                                    <span class="text-white m-left-sm">Tickets Priority</span>
                                                </span>
                                                <span class="menu-content-hover block">
                                                    Tickets Priority
                                                </span>
                                            </a>
                                        </li>
                                         <li>
                                            <a href="@Url.Action("Index","TicketStatus")">
                                                <span class="menu-content block">
                                                    <span class="menu-icon"><i class="block fa fa-tags fa-lg"></i></span>
                                                    <span class="text-white m-left-sm">Ticket Status</span>
                                                </span>
                                                <span class="menu-content-hover block">
                                                    Ticket Status
                                                </span>
                                            </a>
                                        </li>

                                         <li>
                                            <a href="@Url.Action("Index","TicketTypes")">
                                                <span class="menu-content block">
                                                    <span class="menu-icon"><i class="block fa fa-tags fa-lg"></i></span>
                                                    <span class="text-white m-left-sm">Ticket Types</span>
                                                </span>
                                                <span class="menu-content-hover block">
                                                    Ticket Types
                                                </span>
                                            </a>
                                        </li>
                                    }






                                </ul>
                            </li>
                        }    
                    
                        
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="bg-palette5">
                                <a href="@Url.Action("AdminIndex","Admin")">
                                    <span class="menu-content block">
                                        <span class="menu-icon"><i class="block fa fa-tags fa-lg"></i></span>
                                        <span class="text-white m-left-sm">Admin Index</span>
                                    </span>
                                    <span class="menu-content-hover block">
                                        Admin Index
                                    </span>
                                </a>
                            </li>
                        }

                        

                    </ul>
                </div>
                
            </div><!-- sidebar-inner -->
        </aside>

        <div class="main-container">
            <div class="padding-lg">
                <!------Hema--------->
                @RenderBody()
            </div>
        </div>

        
        
    
    
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    
    <script src="../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/simplify.js"></script>    
    <script src="../Scripts/jquery.slimscroll.min.js"></script>
    <script src="../Scripts/skycons.js"></script>
    <script src="../Scripts/jquery.popupoverlay.min.js"></script>
    <script src="../Scripts/jquery.sortable.js"></script>

    @*<script src="Scripts/jquery-1.11.1.min.js"></script>*@
    @*<script src="~/Scripts/jquery.flot.min.js"></script>*@
    @*<script src="~/Scripts/owl.carousel.min.js"></script>*@
    @*<script src="../Scripts/simplify_dashboard.js"></script>*@

    @RenderSection("scripts", required: false)

</body>



</html>
