@model BugTracker.Models.Projects
@using BugTracker.Controllers.Helpers           

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Project Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Project Name :</dt>
        <dd>@Html.DisplayFor(model => model.ProjectName)<br /><br /></dd>
        

        <dt>Project Developers :</dt>
        <dd>
            <ol start="1">
                @foreach (var user in Model.Users)
                {
                     <li>@user.FirstName
                </li>
                }
            </ol>
        </dd>

        <dt>Tickets :</dt>
        <dd>
                @Model.Tickets.Count
            @if (Model.Tickets.Count > 0)
            { 
                <span class="margin-lg">
            <a href="@Url.Action("ProjectTickets", "Tickets", new { projectId = Model.Id })" 
               class="text-primary font-semi-bold">View Details
            </a>
                </span>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "AuthorizedIndex","Home")
</p>
